@import '_button.scss';
@import '_variables.scss';
/* Popup Styling */
@mixin popup {
    .titles {
        text-align: center;
    }
    background: $white;
    background: url('../img/creampaper.png');
    border: 1px solid $dark;
    border-radius: 4px;
    color: $dark;
    font-family: 'Fredericka the Great', cursive;
    left: 0;
    margin: 1% auto auto;
    padding: 3% 5%;
    position: absolute;
    right: 0;
    width: 65%;
    z-index: 30;

    button {
        @include button;
    }

    input,
    textarea {
        border: 1px inset $dark;
        border-radius: 4px;
        font-weight: 400;
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: sans-serif;
        width: 50vw;
    }

    input {
        height: 28px;
    }


@media screen and (max-width: 720px) {
  margin: auto;
  width: 100%;
  input, textarea {
    width: 75vw;
  }
}

}

.right-float {
    float: right;
}

.view {
    @include popup;
    text-align: left;
}

#Editor {
    @include popup;
    text-align: center;

    .btn-danger:hover {
        color: $white; //For some reason this isn't necessary to specify in .view class
    }

    .left {
        float: left;
        margin-left: 1vw;
    }

    #right {
        float: right;
        margin-right: 1vw;
    }
}
