body {
    background: #ffffff url('http://freefoodphotos.com/imagelibrary/vegetables/fresh_carrots.jpg') no-repeat center;
}

.navbar {
    background: green;

    button {
        float: right;
        margin: 1vh;
    }
}

.bigbox {
    color: blue;
    text-align: center;

    .littlebox {
      h2 {
        height: 5vh;
        margin: 0;
      }
      p {
        height: 2vh;
      }
        background: green;
        border: 1px solid darkgray;
        color: white;
        height: auto;
        padding: 0;

        img {
            height: 18vh;
        }

        button {
            margin: 1vh;
        }
        height: 35vh;

    }
}
